
<div id="wrapper">
    <div class="row">
        <header title='title'></header>
    </div>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>

                    </h1>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> <i class="fa fa-dashboard"></i> Resources</h3>
                                </div>
                                <div>

                                    <div class="col-md-9">
                                        <div class="row">
                                            <a ng-href="/#/admin/new_resource" class="btn btn-primary" translate="NEW_RESOURCE"></a>
                                        </div><br>
                                        <div class="row">
                                            <div class="panel panel-default">
                                                <div class="panel-heading"></div>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th translate="NAME"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="resource in resources">
                                                        <td>{{resource.filename}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div ng-repeat="user in users">-->

                <!--{{user.username}}-->


                <!--</div>-->
            </div>
            <!-- /.row -->

            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div class="alert alert-info alert-dismissable">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
            <!--<i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a
href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!-- /.row -->


            <!-- Plava, zelena, narandzasta i crvena plocica -->
            <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-6">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-comments fa-5x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-9 text-right">-->
            <!--<div class="huge">26</div>-->
            <!--<div>New Comments!</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="#">-->
            <!--<div class="panel-footer">-->
            <!--<span class="pull-left">View Details</span>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6">-->
            <!--<div class="panel panel-green">-->
            <!--<div class="panel-heading">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-tasks fa-5x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-9 text-right">-->
            <!--<div class="huge">12</div>-->
            <!--<div>New Tasks!</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="#">-->
            <!--<div class="panel-footer">-->
            <!--<span class="pull-left">View Details</span>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6">-->
            <!--<div class="panel panel-yellow">-->
            <!--<div class="panel-heading">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-shopping-cart fa-5x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-9 text-right">-->
            <!--<div class="huge">124</div>-->
            <!--<div>New Orders!</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="#">-->
            <!--<div class="panel-footer">-->
            <!--<span class="pull-left">View Details</span>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6">-->
            <!--<div class="panel panel-red">-->
            <!--<div class="panel-heading">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-3">-->
            <!--<i class="fa fa-support fa-5x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-9 text-right">-->
            <!--<div class="huge">13</div>-->
            <!--<div>Support Tickets!</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="#">-->
            <!--<div class="panel-footer">-->
            <!--<span class="pull-left">View Details</span>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart</h3>
                        </div>
                        <canvas id="myChart1" width="400" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("myChart1").getContext("2d");
                            var data = [
                                {
                                    value: 300,
                                    color:"#F7464A",
                                    highlight: "#FF5A5E",
                                    label: "Red"
                                },
                                {
                                    value: 50,
                                    color: "#46BFBD",
                                    highlight: "#5AD3D1",
                                    label: "Green"
                                },
                                {
                                    value: 100,
                                    color: "#FDB45C",
                                    highlight: "#FFC870",
                                    label: "Yellow"
                                }
                            ];
                            new Chart(ctx).Doughnut(data, {
                                animateScale: true
                            });
                        </script>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Line Chart</h3>
                        </div>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("myChart2").getContext("2d");
                            var data = {
                                labels: ["January", "February", "March", "April", "May", "June", "July"],
                                datasets: [
                                    {
                                        label: "My First dataset",
                                        fillColor: "rgba(220,220,220,0.2)",
                                        strokeColor: "rgba(220,220,220,1)",
                                        pointColor: "rgba(220,220,220,1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: [65, 59, 80, 81, 56, 55, 40]
                                    },
                                    {
                                        label: "My Second dataset",
                                        fillColor: "rgba(151,187,205,0.2)",
                                        strokeColor: "rgba(151,187,205,1)",
                                        pointColor: "rgba(151,187,205,1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(151,187,205,1)",
                                        data: [28, 48, 40, 19, 86, 27, 90]
                                    }
                                ]
                            };

                            var myLineChart = new Chart(ctx).Line(data);

                        </script>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

