 <div class="jumbotron">
  <button class="btn btn-default" data-toggle="modal" ng-click="openNewSymptom()" translate="NEW_SYMPTOM">
    New symptom
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div class="btn-group btn-block">
<div ng-repeat="symptom in  symptoms">
   <button class="btn btn-default" ng-click="showSymptom()">
      {{symptom}}
  </button>

</div>
</div>
 </div>

 <div class="jumbotron">
     <br>
     <button class="btn btn-default" data-toggle="modal" ng-click="openNewDiagnosis()" translate="NEW_DIAGNOSIS">
         New diagnosis
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
     </button>
     <div class="btn-group btn-block">
         <div ng-repeat="diagnosis in  diagnoses">
             <button class="btn btn-default" ng-click="showDiagnosis()">
                 {{diagnoses}}
             </button>

         </div>
     </div>
 </div>