<div class="container">
    <div class="row">
        <header title='title'></header>
    </div>

    <div class="col-md-3">
        <menu></menu>
    </div>
    <div class="col-md-9">
        <div class="container-fluid">

            <form class="form-horizontal" role="form" id="newdiagnosisform">
                <div class="page-header">
                    <h4 translate="DIAGNOSIS_FORM"></h4>
                </div>
                <div class="form-group">
                    <label for="name" class="col-xs-4 control-label" translate="NAME_DIAGNOSIS"></label>
                    <div class="col-xs-8">
                        <input type="text" ng-model="diagnosis.name" class="form-control" id="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-xs-4 control-label" translate="CODE_DIAGNOSIS"></label>
                    <div class="col-xs-8">
                        <input type="text" ng-model="diagnosis.code" class="form-control" id="code" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-xs-4 control-label" translate="DESCRIPTION"></label>
                    <div class="col-xs-8">
                        <input type="text" ng-model="diagnosis.description" class="form-control" id="description" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-10 col-xs-8">
                        <button type="submit" class="btn btn-primary" ng-click="saveDiagnosis()" translate="SAVE_DIAGNOSIS"></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>