<div class="container">
    <div class="row">
        <header title="title" description="description"></header>
    </div>

    <div class="col-md-9 symptom-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><b translate="NAME"></b>: {{symptom.name}}</p>
                <p><b translate="CODE"></b>: {{symptom.code}}</p>
                <p><b translate="DESCRIPTION"></b>: {{symptom.description}}</p>
            </div>
        </div>
    </div>
</div>